* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
